body {
    font: 13px Helvetica, Arial;
}

#formBox {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#chatForm {
    background: #000;
    padding: 3px;
    width: 100%;
}

#chatForm input {
    border: 0;
    padding: 10px;
    width: 88%;
    margin-right: .5%;
}

#chatForm button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    float: right;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#user-wrapper {
    background-color: limegreen;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

#user {
    background-color: #fff;
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
    margin: 50px auto;
    padding: 20px;
}

#user p {
    text-align: center;
    font-weight: 700;
}

.colors {
    width: 60%;
    margin: 50px auto;
}

.colorbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    float: left;
}

#formBox .colors {
    width: 100%;
    margin: 0;
}

.colorbox.bold {
    border: 2px solid;
}

.red {
    background-color: red;
}

.darkred {
    background-color: darkred;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.limegreen {
    background-color: #32cd32;
}

.black {
    background-color: #000;
}

.gray {
    background-color: gray;
}

.darkblue {
    background-color: darkblue;
}

.cyan {
    background-color: cyan;
}